@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light-bg: #f1f0f0;
	--light-text: black;

	--dark-bg: #18191a;
	--dark-text: white;
}

[data-theme="dark"] {
	background-color: var(--dark-bg);
	color: var(--dark-text);
}
[data-theme="light"] {
	background-color: var(--light-bg);
	color: var(--light-text);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s;
	font-family: "Prompt", sans-serif;
}

.gallery-image {
	max-height: 150px;
	min-height: 150px;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}
